**/**/cmake/
**/**/.vscode/
**/**/.vs/
**/**/.settings/
**/**/build/
STM32-project/build/debug/build/CMakeCache.txt
STM32-project/build/debug/build/CMakeFiles/CMakeConfigureLog.yaml
STM32-project/build/debug/build/build.ninja
STM32-project/build/debug/build/CMakeFiles
GUI-Application/untitled.slx.autosave
STM32-project/Debug/Components/Src/LCD.o
